<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{$title}</title>
		<meta charset="utf-8">
		
		<link rel="icon" type="image/png" href="../../image/favicon.png" />

		<!-- IMPORT CSS COMMUN-->
		<link rel="stylesheet" type="text/css" href="../../css/commun.css">
		<link rel="stylesheet" type="text/css" href="../../css/menu.css">

		<!-- IMPORT JAVASCRIPT COMMUN-->
		<script src="../../lib/js/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/dialogue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/formulaire.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tableau.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		{include="composant/menu"}		